.DS_Store
*.sublime-workspace
.idea/
bin/
obj/
.vs/
dist/
.vscode/
LocalFlow/

*.DotSettings.*

.env

## config files
testsettings.local.json

## environment config files
appsettings.*.json

## temporary testing scripts
TmpTest.cs

# Dependency directories
node_modules/
jspm_packages/

# archive
*.zip

# logs
*.log

global.json

# docker
docker-compose.yaml
.env
